<h1>Look here</h1>

<% @articles.each do |article| %>
  <p> <%= article.id %> )   <strong>Title:</strong>  <%= article.title %></p>
  <p><strong>Description:</strong> <%= article.description %></p>
<% end %>
